HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/
### Mac files ###
.DS_Store

### mvn files ###
currency-conversion-service/.mvn/wrapper/maven-wrapper.jar
currency-conversion-service/.mvn/wrapper/maven-wrapper.properties

limits-service/.idea/vcs.xml
limits-service/.idea/workspace.xml
